@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

.wrapper {
    background-color: $sugarcane;
}

.my-container {
    width: 70%;
    margin: 0 auto;
}

// General
.purpletxt {
    color: $butterfly;
}

.section-intro {
    font-weight: bold;
    font-size: 1.5rem;
    color: $butterfly;
}

// da cancellare
.red {
    background-color: rgb(237, 154, 154);
}

.purple {
    background-color: rgb(131, 105, 131);
}

.debug {
    border: 1px solid black;
}